﻿@model todo_domain_entities.Models.ToDoEntity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToDoEntities</h2>
<h3>Delete</h3>

<table class="table table-borderless table-hover">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Id)</th>
        <th>@Html.DisplayNameFor(m => m.Title)</th>
        <th>@Html.DisplayNameFor(m => m.Description)</th>
        <th>@Html.DisplayNameFor(m => m.DueDate)</th>
        <th>@Html.DisplayNameFor(m => m.CreationDate)</th>
        <th>@Html.DisplayNameFor(m => m.Status)</th>
        <th>@Html.DisplayNameFor(m => m.ToDoListId)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Title)</td>
        <td>@Html.DisplayFor(m => m.Description)</td>
        <td>@Html.DisplayFor(m => m.DueDate)</td>
        <td>@Html.DisplayFor(m => m.CreationDate)</td>

        @switch (Model.Status)
        {
            case 0:
                <td>Not Started</td>
                break;
            case 1:
                <td>In Progress</td>
                break;
            case 2:
                <td>Completed</td>
                break;
            default:
                <td></td>
                break;
        }
        <td>@Html.DisplayFor(m => m.ToDoListId)</td>
    </tr>
</table>
<h3>Are you sure you want to delete?</h3>
<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>