﻿@model IEnumerable<todo_domain_entities.Models.ToDoEntity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToDoEntites</h2>
<p>
    @Html.ActionLink("Create new", "Create")
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Creation date</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Title)</td>
            <td>@Html.DisplayFor(m => item.Description)</td>
            <td>@Html.DisplayFor(m => item.DueDate)</td>
            <td>@Html.DisplayFor(m => item.CreationDate)</td>

            @switch (item.Status)
            {
                case 0:
                    <td>Not Started</td>
                    break;
                case 1:
                    <td>In Progress</td>
                    break;
                case 3:
                    <td>Completed</td>
                    break;
                default:
                    <td></td>
                    break;
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

