﻿@model todo_domain_entities.Models.ToDoList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToDoLists</h2>
<h4>Delete</h4>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
</table>
<h3>Are you sure you want to delete?</h3>
<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>