﻿@model todo_aspnetmvc_ui.Models.ToDoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ToDo entities</h1>
<h4>Category: @Html.DisplayFor(m => m.ToDoList.Name)</h4>
<hr />

<p>@Html.ActionLink("Create new entity", actionName: "Create", controllerName: "ToDoEntity", new { id = Model.ToDoList.Id})</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due</th>
        <th>Status</th>
        <th></th>
    </tr>

        @foreach (var item in Model.ToDoEntities)
        {
<tr>
    <td>@Html.DisplayFor(m => item.Title)</td>
    <td>@Html.DisplayFor(m => item.Description)</td>
    <td>
        @if ((item.DueDate - DateTime.Now).Days == 0)
        {
            <div class="badge badge-primary text-wrap" style="width: 6rem;">
                Today
            </div>
        }
        else if ((item.DueDate - DateTime.Now).Days < 0 && item.Status != 2)
        {
            <div class="badge badge-danger text-wrap" style="width: 6rem;">
                Overdue
            </div>
        }
        else
        {
            <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                @item.DueDate.ToShortDateString()
            </div>
        }
    </td>
    @switch (item.Status)
    {
        case 0:
            <td>
                <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                    Not Started
                </div>
            </td>
            break;
        case 1:
            <td>
                <div class="badge badge-warning text-wrap" style="width: 6rem;">
                    In progress
                </div>
            </td>
            break;
        case 2:
            <td>
                <div class="badge badge-success text-wrap" style="width: 6rem;">
                    Completed
                </div>
            </td>
            break;
        default:
            <td></td>
            break;
    }
    <td>
         @Html.ActionLink("Edit", actionName: "Edit", controllerName: "ToDoEntity", new { id = item.Id })|
         @Html.ActionLink("Details", actionName: "Details", controllerName: "ToDoEntity", new { id = item.Id }) |
         @Html.ActionLink("Delete", actionName: "Delete", controllerName: "ToDoEntity", new { id = item.Id })
    </td>
</tr>
         }
</table>
