﻿@model todo_domain_entities.Models.ToDoList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToDoLists</h2>
<h4>Edit</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-block" />
            </div>
        </form>
    </div>
</div>  