﻿@model IEnumerable<todo_aspnetmvc_ui.Models.ToDoViewModel>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToDoLists</h2>
<p>
    @Html.ActionLink("Create new", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ToDoList.Name)
        </th>
        <th>
            Tasks
        </th>
        <th>

        </th>
    </tr>

    @foreach(var list in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => list.ToDoList.Name)
            </td>
            <td>
                @list.ToDoEntities.Count()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = list.ToDoList.Id }) |
                @Html.ActionLink("Details", "Details", new { id = list.ToDoList.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = list.ToDoList.Id })
            </td>
            
        </tr>
    }
</table>
